.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  .card-container {
    width: 40%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .login-form-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .button-position{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
